:root {
    --blue-color: #0075ff;
    --blue-ale-color: #0d69d5;
    --orang-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}

/* start box */


.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-di {
    flex-direction: column;
}

.f-di-r {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: center;
}

.d-grid {
    display: grid;
}

.g-c {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width:767px) {
    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }
}

/* end box1 */

/*start margin+padind+position*/
.p-absolute {
    position: absolute;
}

.b-none {
    border: none;
}

.p-0 {
    padding: 0px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-6 {
    padding-left: 6px;
}

.m-0 {
    margin: 0px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}


.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 35px;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content
}

.h-full {
    height: 100%;
}

/*end  margin+padind*/

/* start color */

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-orange {
    background-color: var(--orang-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-perb {
    background-color: rgb(147, 82, 209);
}

.bg-cold {
    background-color: rgb(131, 131, 191);
}

.bg-eee {
    background-color: #eee;
}

.c-blue {
    color: #0075ff;
}

.c-orange {
    color: #f59e0b;
}

.c-green {
    color: #22c55e
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-gray {
    color: var(--gray-color);
}

.c-white {
    color: white;
}

/* end color */


/* start position */

.p-relative {
    position: relative;
}

/* end-postion */

/* start fonts */
.txt-c {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fw-bold {
    font-weight: bold;
}

@media (max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }

}

/* end fonts */


/* start Border */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-half {
    border-radius: 50%;
}

.b-none {
    border: none
}

.border-ccc {
    border: 1px solid #ccc;
}

.border-eee {
    border: 1px solid #eee;
}

/* end border */

/* start component */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 14px;
}

/* end component */